services:
  vectorizer:
    build:
      context: .
      dockerfile: Dockerfile
    image: vectorizer:latest
    container_name: fj-vectorizer
    hostname: vectorizer
    environment:
      - RMQ_CONN=$RMQ_CONN
    ports:
      - "50051:50051"
    volumes:
      - /opt/vectorizer:/code/models/cache
    networks:
      - fj_network
    restart: unless-stopped

networks:
  fj_network:
    external: true
    name: frankenjet
