[run]
source = src
omit =
    # модули, для проверки работы которых необходим Telegram Bot
    app/api/bot.py
    app/core/logs.py

    # модули, для проверки которых необходимо разворачивать сторонние сервисы: Elasticsearch, RabbitMQ, Redis, S3
    app/consumers/*
    app/core/cache_manager.py
    app/core/es_manager.py
    app/core/rmq_manager.py
    app/core/s3_manager.py
    app/dependencies/rmq.py
    app/dependencies/s3.py

    # модули, которые приведены для примера и не используются в проекте
    app/api/bureaus.py
    app/api/designers.py
    app/api/manufacturers.py
    app/db/models/design_bureaus.py
    app/db/models/designers.py
    app/db/models/manufacturers.py
    app/db/repository/design_bureaus.py
    app/db/repository/designers.py
    app/db/repository/manufacturers.py
    app/schemas/bureaus.py
    app/schemas/designers.py
    app/schemas/manufacturers.py
    app/services/bureaus.py
    app/services/designers.py
    app/services/manufacturers.py

    # модуль с перенаправлением на SwaggerUI в режиме локальной разработки
    app/api/local.py

    # модули для работы с внешними OAuth2-провайдерами
    app/api/oauth2.py
    app/services/oauth2.py

    # модули для работы с вебсокетами
    app/api/websocket.py
    app/core/ws_manager.py
    app/services/websocket.py

    # модули, для проверки которых нужны специфические условия
    app/decorators/db_errors.py
    app/dependencies/api.py
    app/schemas/jti.py
    app/services/utils.py
