/* Общие стили */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  font-family: 'Source Serif Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-info));
}

a:hover {
  text-decoration: underline;
  color: rgba(var(--v-theme-info), 0.75);
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.25rem;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
}

.v-breadcrumbs a {
  color: rgb(var(--v-theme-on-surface)) !important;
}

.v-breadcrumbs > a:hover {
  text-decoration: underline;
}

.article-image {
  margin: 0.5rem 1.75rem 0 1.75rem;
}

.article-content p,
.article-content a {
  font-size: 1.05rem;
  line-height: 1.65;
}

/* Настройка полей для разных разрешений экрана */

@media (max-width: 1499px) {
  .v-container,
  .v-app-bar {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media (min-width: 1500px) and (max-width: 1599px) {
  .v-container,
  .v-app-bar {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .v-container,
  .v-app-bar {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}

@media (min-width: 1700px) and (max-width: 1799px) {
  .v-container,
  .v-app-bar {
    padding-left: 250px !important;
    padding-right: 250px !important;
  }
}

@media (min-width: 1800px) and (max-width: 1899px) {
  .v-container,
  .v-app-bar {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
}

@media (min-width: 1900px) {
  .v-container,
  .v-app-bar {
    padding-left: 350px !important;
    padding-right: 350px !important;
  }
}

/* Стили для мобильных устройств */

@media (max-width: 768px) {
  .v-container,
  .v-app-bar,
  /*.v-card, */
  .v-main {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
  }

  .v-card {
    padding-bottom: 0.65rem !important;
  }

  .v-card-title {
    padding: 0.65rem 0.65rem 0 0.65rem !important;
  }

  .v-card-text {
    padding: 0.5rem 0.65rem 0 0.65rem !important;
  }

  .v-breadcrumbs {
    font-size: 0.9rem !important;
    padding: 0 !important;
  }

  .v-divider {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  .article-image {
    margin: 0.5rem;
  }

  .v-text-field {
    margin-bottom: 0.5rem !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  ul, ol {
    margin-bottom: 0.75rem;
    padding-left: 1rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  blockquote {
    margin: 0.75rem 0;
    padding-left: 0.75rem;
  }
}
