/* Общие стили */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-info));
}

a:hover {
  text-decoration: underline;
  color: rgba(var(--v-theme-info), 0.75);
}

.v-card-title {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.25rem;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
}

.v-breadcrumbs {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.v-img {
  margin: 1.5rem 1.75rem 0 1.75rem;
}

.article-image {
  margin: 0.5rem 1.75rem 0 1.75rem;
}

.v-card-title,
.v-card-text
{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.v-card-title {
  margin-top: 0.5rem;
}

@media (max-width: 1279px) {
  .v-container,
  .v-app-bar {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (min-width: 1280px) {
  .v-container,
  .v-app-bar {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}

/* Стили для мобильных устройств */

@media (max-width: 768px) {
  .v-container,
  .v-app-bar,
  .v-card,
  .v-main {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .v-card {
    padding-bottom: 4px !important;
  }

  .v-card-text {
    padding: 0.5rem !important;
  }

  .v-card-title {
    padding: 0.65rem 0.5rem 0 0.5rem !important;
  }

  .v-breadcrumbs {
    font-size: 0.9rem !important;
    padding: 0 !important;
  }

  .article-image {
    margin: 0.5rem;
  }

  .v-img {
    margin: 0.75rem 0.5rem 0 0.5rem !important;
  }

  .v-text-field {
    margin-bottom: 0.5rem !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  ul, ol {
    margin-bottom: 0.75rem;
    padding-left: 1rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  blockquote {
    margin: 0.75rem 0;
    padding-left: 0.75rem;
  }
}
